<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Errorr</title>
</head>
<style>
  body { font-family: 'Courier New', monospace; background-color: #fff; color: #000; }
  pre { white-space: pre-wrap; word-wrap: break-word; }
  button{
      color: #000;
      border: none;
      background-color: #fff;
      font-family: monospace;
      white-space: pre-wrap;
      word-wrap: break-word;
  }
</style>
<body>

  <pre>
        <button id="copyButton" data-text="<%= text %>" style="top: 225px;position: absolute;left: -50px;">
        cannot GET /
        </button>
  </pre>

<!-- Button to copy text -->


<script>
// Function to copy text to clipboard
function copyToClipboard(text) {
  // Creating a textarea element
  var textarea = document.createElement("textarea");

  // Set the value of the textarea to the text you want to copy
  textarea.value = text;

  // Make the textarea out of viewport
  textarea.style.position = "fixed";
  textarea.style.left = "-9999px";

  // Appending the textarea to the HTML document
  document.body.appendChild(textarea);

  // Select the text inside the textarea
  textarea.select();

  // Execute browser copy command
  try {
    var successful = document.execCommand('copy');
    var message = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text to clipboard was ' + message);
  } catch (err) {
    console.error('Unable to copy text to clipboard:', err);
  }

  // Removing the textarea
  document.body.removeChild(textarea);
}

// Event listener for the copy button
document.getElementById('copyButton').addEventListener('click', function() {
  var text = this.getAttribute('data-text');
  copyToClipboard(text);
});
</script>

</body>
</html>
